.vercel
.vercel/output
.env
.env.local
.env.*
dist
/Public/assets
/Public/index.html
node_modules
package-lock.json
downloader-api/node_modules
downloader-api/package-lock.json
fk-downloader-api/node_modules
fk-downloader-api/package-lock.json
yt-api/node_modules
yt-api/package-lock.json
.cloudflared/*.json
.cloudflared/cert.pem
